<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('asset/common/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        {% block body %}{% endblock %}
        <script src="{{ asset('asset/common/js/jquery.js') }}"></script>
        <script src="{{ asset('asset/common/js/jquery-ui.js') }}"></script>
        <script src="{{ asset('asset/common/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
